---
import Section from "../Section.astro";
import Card from "../../ui/Card.astro";
import {MoveRight} from "@lucide/astro";

import {getCollection} from "astro:content";
const projects = await getCollection("projects");
---

<Section
        id="projects"
        title="2.&nbsp;Projects"
        subtitle="Lorem Ipsum is simply dummy text of the printing and typesetting"
>
    <div class="my-16  grid grid-cols-3 gap-10 max-[408px]:gap-4 px-10 max-[408px]:px-4 max-[1116px]:grid-cols-2 max-[810px]:grid-cols-1  items-stretch ">
        {projects.map((project) => (
                <Card project={project} />
        ))}
    </div>
    <!--<p class="flex items-center justify-center -mt-4">All Projects &nbsp;-->
    <!--    <MoveRight/>-->
    <!--</p>-->
</Section>



