---
import Section from "../Section.astro";

import Badge from "../../ui/Badge.astro";
import JavaScript from "../../ui/icons/JavaScript.astro";
import {getCollection} from "astro:content";

const skills = await getCollection('skills')
---


<Section
        id="skills"
        title="4.&nbsp;Skills"
        subtitle="Lorem Ipsu is simply dummy text of the printing and typesetting"
>
    <div class="my-16 grid grid-cols-2 gap-y-[3.5rem] px-32">
        {
            skills.map((skill, index) => (
                    <>
                        <h3 class="text-xl font-semibold">{skill.data.category}</h3>
                        <div class="flex flex-wrap gap-4">
                            {skill.data.items.map((item, index) => (
                                    <Badge>
                                        <img src={item.icon} width="18" height="18"/>
                                        <span>{item.name}</span>
                                    </Badge>
                            ))}
                        </div>
                    </>
            ))
        }
    </div>
</Section>
