---
import { getCollection } from 'astro:content'

import Badge from '../../ui/Badge.astro'
import Section from '../Section.astro'

const skills = await getCollection('skills')
---


<Section
  id="skills"
  title="Skills"
  subtitle="Technologies and tools I work with daily"
>
    <div class="my-16 grid grid-cols-2 max-[553px]:grid-cols-1 gap-y-[3.5rem]">
        {
            skills.map(skill => (
                    <>
                        <h3 class="text-2xl font-semibold">{skill.data.category}</h3>
                        <div class="flex flex-wrap gap-5">
                            {skill.data.items.map(item => (
                                    <Badge>
                                        <img src={item.icon} width="22" height="22" />
                                        <span>{item.name}</span>
                                    </Badge>
                            ))}
                        </div>
                    </>
            ))
        }
    </div>
</Section>
