@import "tailwindcss";

@theme {
    /* Carbon Fiber Palette */
    --color-carbon: oklch(25% 0.01 260);
    --color-carbon-50: #fafafa;
    --color-carbon-100: #eaeaea;
    --color-carbon-200: #d5d5d5;
    --color-carbon-300: #c0c0c0;
    --color-carbon-400: #ababab;
    --color-carbon-500: #979797;
    --color-carbon-600: #828282;
    --color-carbon-700: #6d6d6d;
    --color-carbon-800: #585858;
    --color-carbon-900: #434343;
    --color-carbon-950: #2e2e2e;
    --color-carbon-1000: #292929;
    --color-carbon-1100: #252525;
    --color-carbon-1200: #202020;
    --color-carbon-1300: #1c1c1c;
    --color-carbon-1400: #171717;
    --color-carbon-1500: #121212;
    --color-carbon-1600: #0e0e0e;
    --color-carbon-1700: #090909;
    --color-carbon-1800: #050505;
}

@theme {
    /* Oregon Blue Palette */
    --color-oregon-blue: #4a90e2;
    --color-oregon-blue-50: #edf4fc;
    --color-oregon-blue-100: #dbe9f9;
    --color-oregon-blue-200: #c9def6;
    --color-oregon-blue-300: #b7d3f3;
    --color-oregon-blue-400: #a5c8f1;
    --color-oregon-blue-500: #92bcee;
    --color-oregon-blue-600: #80b1eb;
    --color-oregon-blue-700: #6ea6e8;
    --color-oregon-blue-800: #5c9be5;
    --color-oregon-blue-900: #4a90e2;
    --color-oregon-blue-950: #4382cb;
    --color-oregon-blue-1000: #3b73b5;
    --color-oregon-blue-1100: #34659e;
    --color-oregon-blue-1200: #2c5688;
    --color-oregon-blue-1300: #254871;
    --color-oregon-blue-1400: #1e3a5a;
    --color-oregon-blue-1500: #162b44;
    --color-oregon-blue-1600: #0f1d2d;
    --color-oregon-blue-1700: #070e17;
}

@theme {
    --color-primary: var(--color-oregon-blue-900);
    --color-primary-light: var(--color-oregon-blue-300);
    --color-primary-dark: var(--color-oregon-blue-1300);

    --color-milk: #F4F4F4;
}

html {
    font-family: "Open Sans";
    font-weight: 400;
    color: var(--carbon-fiber-shade-500);
    background: #F4F4F4;
    scroll-behavior: smooth;
}


.container-xl {
    width: 1280px;
}

button{
    cursor: pointer;
}


