---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/landing-page/sections/Navbar.astro";
import Hero from "../components/landing-page/sections/Hero.astro";
import {Github, Instagram, Linkedin} from "@lucide/astro";
import Projects from "../components/landing-page/sections/Projects.astro";
import Skills from "../components/landing-page/sections/Skills.astro";
import Contact from "../components/landing-page/sections/Contact.astro";
import ContactForm from "../components/landing-page/sections/ContactForm.astro";
import About from "../components/landing-page/sections/About.astro";
import Experience from "../components/landing-page/sections/Experience.astro";
---

<Layout>
    <div class="fixed flex items-center gap-4 -bottom-4 right-10 max-[952px]:right-4 origin-top-right rotate-90">
        <a
                href="mailto:younessmesbahy@gmail.com"
                class="tracking-[0.25rem] text-xs hover:text-oregon-blue-1000 hover:-translate-x-1 duration-300"
        >younessmesbahy@gmail.com</a>
        <p class="h-[0.125rem] w-[8rem] bg-carbon-1400"></p>
    </div>

    <div class="flex flex-col items-center gap-6 fixed left-10 max-[952px]:left-4 bottom-0">
        <a href="https://www.instagram.com/youness.el.mesbahy/" target="_blank" rel="noreferrer">
            <Instagram/>
        </a>
        <a href="https://www.linkedin.com/in/youness-el-mesbahy-7327992b8" target="_blank" rel="noreferrer">
            <Linkedin/>
        </a>
        <a href="https://github.com/youness-el-mesbahy" target="_blank" rel="noreferrer">
            <Github/>
        </a>
        <p class="w-[0.125rem] h-[8rem] bg-carbon-1400"></p>
    </div>
    <div class="h-full">
        <Navbar/>
        <Hero/>
    </div>
    <About/>
    <Experience/>
    <Projects/>
    <Skills/>
    <Contact/>
    <ContactForm/>
</Layout>

