---
import clsx from 'clsx'

const baseClasses = 'flex items-center gap-1 w-fit rounded-full transition-all duration-300 ease-out hover:scale-105 hover:border-primary hover:shadow-md'

const badgeSizes = {
    small: 'inline-block py-1 px-2 border  text-xs',
    normal: 'py-2 px-5 border  text-base font-semibold gap-3',
}

const { size = 'normal', className = '' } = Astro.props

const badgeClasses = clsx(baseClasses, badgeSizes[size], className)
---
<span class={badgeClasses}><slot /></span>
