---
import clsx from "clsx";
import { twMerge } from "tailwind-merge";

const baseClasses="flex items-center gap-1 px-4 py-2 rounded-xs text-base justify-center"

const buttonVariants = {
    primary: " bg-primary text-white",
    secondary: "bg-gray-200 ",
};

const {variant='primary',className='', ...props}=Astro.props

const buttonClasses=twMerge(clsx(baseClasses,buttonVariants[variant],className))
---

<button class={buttonClasses} {...props}>
    <slot />
</button>
