---
import Input from './Input.astro'
import {Send,X}from "@lucide/astro"
import TextArea from './TextArea.astro'
import Button from './Button.astro'
---
<form id="contact-form" class="  py-6 px-16 mb-20 rounded-sm  mx-auto w-1/2 max-[1153px]:w-2/3 max-[1116px]:w-3/4">
  <div class="flex justify-between items-center">
    <h3 class="relative  w-fit text-xl font-semibold after:content-[''] after:absolute after:left-0 after:-bottom-2 after:w-full after:h-[0.125rem] after:bg-primary">
      Contact Me
    </h3>
    <button type="button" id="modal-close-btn" class="p-2 text-carbon-1400 hover:bg-carbon-100 dark:hover:bg-carbon-800 duration-300 rounded-sm">
      <X size="1.125rem"/>
    </button>
  </div>
  <div class="mt-12 grid grid-cols-2 items-center  gap-x-5 space-y-5">

    <Input label="Name" placeholder="Your Name" id="name"/>
    <Input label="Email" placeholder="Your Email" id="email"/>
    <div class="col-span-2">

      <TextArea label="Message" placeholder="Your Message" id="message"/>
    </div>
    <!--<div class="flex gap-5 mt-4 col-">-->
    <Button id="contact-form-cancel-btn" variant="secondary">
      Cancel
    </Button>
    <Button type="submit">
      <Send size="1.25rem"/>
      &nbsp;Send
    </Button>
    <!--</div>-->
  </div>
</form>
